@import url(colors.css);

html, body {
    background: url("../img/bg.png") repeat;
    margin: 0;
    padding: 0;
}

.border {
    border: 1px solid #000;
}

.margin20-top {
    margin-top: 20px;
}
.margin20-right {
    margin-right: 20px;
}
.margin20-bottom {
    margin-bottom: 20px;
}
.margin20-left {
    margin-left: 20px;
}

.margin40-top {
    margin-top: 40px;
}
.margin40-right {
    margin-right: 40px;
}
.margin40-bottom {
    margin-bottom: 40px;
}
.margin40-left {
    margin-left: 40px;
}

.margin80-top {
    margin-top: 80px;
}
.margin80-right {
    margin-right: 80px;
}
.margin80-bottom {
    margin: 80px;
}
.margin80-left {
    margin-left: 80px;
}


.section.profile {
    padding: 0;
    margin-top: 20px;
}
.profile .row {
    margin: 0;
}

.profile .prof-pic img {
    width: 124px;
    height: 124px;
    border-style: solid;
    border-width: 3px;
}

.profile .prof-pic hr {
    border-top-style: solid;
    border-top-width: 3px;
    margin: -69px 0 69px;
}

.profile .social-links {
    margin-top: 20px;
}

.profile .prof-desc {
    margin-top: 20px;
}

.profile .prof-desc h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.profile .prof-desc p {
    font-family: 'Handlee', cursive;
    font-size: 20px;
}

.nav ul {
    text-align: center;
}
.nav ul li {
    display: inline-block;
    border-left-style: solid;
    border-left-width: 2px;
}
.nav ul li:first-child {
    border: none;
}
.nav ul a {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    font-variant: small-caps;
    padding: 10px;
}

.section.blog-wrapper {
    padding: 0;
    margin-top: 20px;
}

.blog-wrapper .post h3 {
    font-family: 'Economica', sans-serif;
    font-size: 30px;
}
.blog-wrapper .post .content {
    font-family: 'Handlee', cursive;
    font-size: 20px;
}
.blog-wrapper .post .content img {
    width: 100%;
}
.blog-wrapper .post time {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    opacity: .5;
}

.pagination li i {
    font-size: 1rem;
    vertical-align: middle;
}